<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Portivio" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Portivio - Personal Portfolio Resume HTML5 Template" />
    <meta name="keywords" content="portfoli, personal, personal portfoli, ui/ux, design, agency, branding, startup, consulting, it solution, network solution, digital" />
    <title>Portivio - Personal Portfolio Resume HTML5 Template</title>
    <link href="images/favicon.png" rel="shortcut icon" type="image/png" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
  </head>

  <body class="layout-dark-mood">
    <!-- Preloader Start -->
    <section>
      <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
          <div class="animation-preloader">
            <div class="spinner"></div>
            <div class="txt-loading">
              <span data-text-preloader="P" class="letters-loading">P</span>
              <span data-text-preloader="O" class="letters-loading">O</span>
              <span data-text-preloader="R" class="letters-loading">R</span>
              <span data-text-preloader="T" class="letters-loading">T</span>
              <span data-text-preloader="I" class="letters-loading">I</span>
              <span data-text-preloader="V" class="letters-loading">V</span>
              <span data-text-preloader="I" class="letters-loading">I</span>
              <span data-text-preloader="O" class="letters-loading">O</span>
            </div>
          </div>
          <div class="loader-section section-left"></div>
          <div class="loader-section section-right"></div>
        </div>
      </div>
    </section>
    <!-- Preloader End -->
    <!-- Error Section Start -->
    <div class="error-area vh d-flex" data-background="images/bg/404.jpg" data-overlay-dark="9">
      <div class="container">
        <div class="row">
          <div class="col-xl-12">
            <div class="error-inner text-center">
              <h1 class="error-title">4<span class="text-primary-color">0</span>4</h1>
              <h2 class="error-text">Sorry, something went wrong!</h2>
              <p>This page is temporarily unavailable due to maintenance. We will back very soon thanks for your patien</p>
              <div class="col-xl-12 d-flex justify-content-center">
                <div class="portivio-btn-block-2">
                  <a class="portivio-btn-2 portivio-btn-2-circle" href="index.html"><i class="webexbase-icon-v-align-bottom"></i></a>
                  <a class="portivio-btn-2 portivio-btn-2-primary" href="index.html">Back To Home</a>
                  <a class="portivio-btn-2 portivio-btn-2-circle" href="index.html"><i class="webexbase-icon-v-align-bottom"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Error Section End -->
    <!-- Mobile Nav Sidebar Content Start -->
    <div class="mobile-nav-wrapper">
      <div class="mobile-nav-overlay mobile-nav-toggler"></div>
      <div class="mobile-nav-content">
        <a href="404.html#" class="mobile-nav-close mobile-nav-toggler">
          <span></span>
          <span></span>
        </a>
        <div class="side-panel-logo logo-box">
          <a href="https://html.webextheme.com/portivio/index-2.html" aria-label="logo image">
            <img src="images/logo-light.png" alt="logo" />
          </a>
        </div>
        <div class="mobile-nav-container"></div>
        <ul class="list-items mobile-sidebar-contact">
          <li><span class="fa fa-map-marker-alt mrr-10 text-primary-color"></span>121 King Street, Australia</li>
          <li><span class="fas fa-envelope mrr-10 text-primary-color"></span><a href="mailto:example@gmail.com">example@gmail.com</a></li>
          <li><span class="fas fa-phone-alt mrr-10 text-primary-color"></span><a href="tel:123456789">+12 345 666 789</a></li>
        </ul>
        <ul class="social-list list-primary-color">
          <li>
            <a href="404.html#"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="404.html#"><i class="webexbase-icon-twitter-2"></i></a>
          </li>
          <li>
            <a href="404.html#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="404.html#"><i class="webexbase-icon-linkedin2"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Mobile Nav Sidebar Content End -->
    <!-- Header Search Popup Start -->
    <div class="search-popup">
      <div class="search-popup-overlay search-toggler"></div>
      <div class="search-popup-content">
        <form action="404.html#">
          <label for="search" class="sr-only">search here</label>
          <input type="text" id="search" placeholder="Search Here..." />
          <button type="submit" aria-label="search submit" class="thm-btn">
            <i class="base-icon-search-1"></i>
          </button>
        </form>
      </div>
    </div>
    <!-- Header Search Popup End -->
    <!-- Back to Top Start -->
    <div class="anim-scroll-to-top">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- Back to Top end -->
    <!-- Integrated important scripts here -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.appear.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <!-- Counter Up Animation Start -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Counter Up Animation End -->
    <script src="js/jquery.event.move.js"></script>
    <!-- Gsap Animation Start -->
    <script src="js/gsap-plugins.js"></script>
    <script src="js/gsap-trigger.js"></script>
    <script src="js/title-animations.js"></script>
    <!-- Gsap Animation End -->
    <!-- Parallax Start -->
    <script src="js/ukiyo.min.js"></script>
    <!-- Parallax Start -->
    <!-- Image Distortion Effect Start -->
    <script src="js/three.js"></script>
    <script src="js/hover-effect.umd.js"></script>
    <!-- Image Distortion Effect End -->
    <script src="js/tilt.jquery.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/backtotop.js"></script>
    <script src="js/trigger.js"></script>
  </body>
</html>
