<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Portivio" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Portivio - Personal Portfolio Resume HTML5 Template" />
    <meta name="keywords" content="portfoli, personal, personal portfoli, ui/ux, design, agency, branding, startup, consulting, it solution, network solution, digital" />
    <title>Portivio - Personal Portfolio Resume HTML5 Template</title>
    <link href="images/favicon.png" rel="shortcut icon" type="image/png" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
  </head>

  <body class="layout-dark-mood">
    <!-- Preloader Start -->
    <section>
      <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
          <div class="animation-preloader">
            <div class="spinner"></div>
            <div class="txt-loading">
              <span data-text-preloader="P" class="letters-loading">P</span>
              <span data-text-preloader="O" class="letters-loading">O</span>
              <span data-text-preloader="R" class="letters-loading">R</span>
              <span data-text-preloader="T" class="letters-loading">T</span>
              <span data-text-preloader="I" class="letters-loading">I</span>
              <span data-text-preloader="V" class="letters-loading">V</span>
              <span data-text-preloader="I" class="letters-loading">I</span>
              <span data-text-preloader="O" class="letters-loading">O</span>
            </div>
          </div>
          <div class="loader-section section-left"></div>
          <div class="loader-section section-right"></div>
        </div>
      </div>
    </section>
    <!-- Preloader End -->
    <!-- Header Area Start -->
    <header class="header_style_01">
      <nav class="main-menu sticky-header">
        <div class="main-menu-wrapper">
          <div class="main-menu-logo">
            <a href="index.html">
              <img src="images/logo-light.png" width="165" height="72" alt="logo" />
            </a>
          </div>
          <ul class="main-nav-menu">
            <li class="menu-has-sub">
              <a href="index.html">Home</a>
              <ul>
                <li><a href="index.html">Home 01</a></li>
                <li><a href="home2.html">Home 02</a></li>
                <li><a href="home3.html">Home 03</a></li>
                <li class="menu-has-sub has-sub-child">
                  <a href="page-header-style1.html">Header Styles</a>
                  <ul>
                    <li><a href="page-header-style1.html">Header Style 01</a></li>
                    <li><a href="page-header-style2.html">Header Style 02</a></li>
                    <li><a href="page-header-style3.html">Header Style 03</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-has-sub">
              <a href="page-about.html">Pages</a>
              <ul>
                <li><a href="page-about.html">About</a></li>
                <li><a href="page-award.html">Awards</a></li>
                <li class="menu-has-sub has-sub-child">
                  <a href="page-services-style-01.html">Services</a>
                  <ul>
                    <li><a href="page-services-style-01.html">Services 01</a></li>
                    <li><a href="page-services-style-02.html">Services 02</a></li>
                    <li><a href="page-services-style-03.html">Services 03</a></li>
                    <li><a href="page-service-details.html">Services Details</a></li>
                  </ul>
                </li>
                <li class="menu-has-sub has-sub-child">
                  <a href="page-testimonial-style-01.html">Testimonials</a>
                  <ul>
                    <li><a href="page-testimonial-style-01.html">Testimonial 01</a></li>
                    <li><a href="page-testimonial-style-02.html">Testimonial 02</a></li>
                    <li><a href="page-testimonial-style-03.html">Testimonial 03</a></li>
                  </ul>
                </li>
                <li><a href="404.html">404 Page</a></li>
              </ul>
            </li>
            <li class="menu-has-sub">
              <a href="page-projects-style-01.html">Projects</a>
              <ul>
                <li><a href="page-projects-style-01.html">Projects 01</a></li>
                <li><a href="page-projects-style-02.html">Projects 02</a></li>
                <li><a href="page-projects-style-03.html">Projects 03</a></li>
                <li><a href="page-projects-style-04.html">Projects Grid</a></li>
                <li><a href="page-project-details.html">Projects Details</a></li>
              </ul>
            </li>
            <li class="menu-has-sub">
              <a href="page-blog.html">Blog</a>
              <ul>
                <li><a href="page-blog.html">Blog Posts</a></li>
                <li><a href="page-blog-left-sidebar.html">Blog Left Sidebar</a></li>
                <li><a href="page-blog-right-sidebar.html">Blog Right Sidebar</a></li>
                <li><a href="page-blog-details.html">Blog Details</a></li>
              </ul>
            </li>
            <li><a href="page-contact.html">Contact</a></li>
          </ul>
          <div class="main-menu-right">
            <div class="portivio-btn-block">
              <a class="portivio-btn portivio-btn-circle" href="page-contact.html"><i class="webexbase-icon-up-right-arrow-1"></i></a>
              <a class="portivio-btn portivio-btn-primary" href="page-contact.html">Contact Us</a>
              <a class="portivio-btn portivio-btn-circle" href="page-contact.html"><i class="webexbase-icon-up-right-arrow-1"></i></a>
            </div>
            <a href="page-projects-style-02.html#" class="mobile-nav-toggler">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
        </div>
      </nav>
    </header>
    <!-- Header Area End -->
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <!-- Page Title Start -->
        <section class="page-title-section">
          <div class="container">
            <div class="row">
              <div class="col-xl-12">
                <div class="breadcrumb-area">
                  <h2 class="page-title">Portfolio Style 02</h2>
                  <ul class="breadcrumbs-link">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Portfolio Style 02</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Page Title End -->
        <!-- Project Section Start -->
        <section class="pdt-120 pdb-120 bg-pos-cc bg-no-repeat" data-background="images/projects/blur1.png">
          <div class="section-content">
            <div class="container">
              <div class="row justify-content-between align-items-center mrb-120 mrb-md-30">
                <div class="col-xl-5 col-lg-5 col-md-12">
                  <div class="project_style2_item mrb-md-30">
                    <div class="project_thumb scale-img">
                      <img class="img-full" src="images/projects/h2-project2-img1.jpg" alt="" />
                      <a class="project_link" href="page-project-details.html">View<br />Project</a>
                    </div>
                    <div class="project_content">
                      <div class="project_title_area">
                        <div class="project_category">
                          <ul>
                            <li><a href="page-projects-style-01.html">Branding</a></li>
                            <li><a href="page-projects-style-01.html">Mockup</a></li>
                          </ul>
                        </div>
                        <h4 class="title"><a href="page-project-details.html">Design System Creation</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col"></div>
                <div class="col-xl-6 col-lg-6 col-md-12">
                  <div class="project_style2_item">
                    <div class="project_thumb scale-img">
                      <img class="img-full" src="images/projects/h2-project2-img2.jpg" alt="" />
                      <a class="project_link" href="page-project-details.html">View<br />Project</a>
                    </div>
                    <div class="project_content">
                      <div class="project_title_area">
                        <div class="project_category">
                          <ul>
                            <li><a href="https://html.webextheme.com/portivio/project.html">Marketing Kit</a></li>
                          </ul>
                        </div>
                        <h4 class="title"><a href="page-project-details.html">Responsive Admin Design</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-between align-items-center mrb-120 mrb-md-30">
                <div class="col-xl-6 col-lg-6 col-md-12">
                  <div class="project_style2_item mrb-md-30">
                    <div class="project_thumb scale-img">
                      <img class="img-full" src="images/projects/h2-project2-img3.jpg" alt="" />
                      <a class="project_link" href="page-project-details.html">View<br />Project</a>
                    </div>
                    <div class="project_content">
                      <div class="project_title_area">
                        <div class="project_category">
                          <ul>
                            <li><a href="https://html.webextheme.com/portivio/project.html">Redesign Website</a></li>
                            <li><a href="https://html.webextheme.com/portivio/project.html">Sketch</a></li>
                          </ul>
                        </div>
                        <h4 class="title"><a href="page-project-details.html">UI/UX Redesign</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col"></div>
                <div class="col-xl-5 col-lg-5 col-md-12">
                  <div class="project_style2_item">
                    <div class="project_thumb scale-img">
                      <img class="img-full" src="images/projects/h2-project2-img4.jpg" alt="" />
                      <a class="project_link" href="page-project-details.html">View<br />Project</a>
                    </div>
                    <div class="project_content">
                      <div class="project_title_area">
                        <div class="project_category">
                          <ul>
                            <li><a href="https://html.webextheme.com/portivio/project.html">Typography</a></li>
                            <li><a href="https://html.webextheme.com/portivio/project.html">UI/UX</a></li>
                          </ul>
                        </div>
                        <h4 class="title"><a href="page-project-details.html">Modern Dashboard UI</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-between align-items-center">
                <div class="col-xl-5 col-lg-5 col-md-12">
                  <div class="project_style2_item mrb-md-30">
                    <div class="project_thumb scale-img">
                      <img class="img-full" src="images/projects/h2-project2-img5.jpg" alt="" />
                      <a class="project_link" href="page-project-details.html">View<br />Project</a>
                    </div>
                    <div class="project_content">
                      <div class="project_title_area">
                        <div class="project_category">
                          <ul>
                            <li><a href="https://html.webextheme.com/portivio/project.html">Branding</a></li>
                          </ul>
                        </div>
                        <h4 class="title"><a href="page-project-details.html">Digital Masterpieces</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col"></div>
                <div class="col-xl-6 col-lg-6 col-md-12">
                  <div class="project_style2_item">
                    <div class="project_thumb scale-img">
                      <img class="img-full" src="images/projects/h2-project2-img6.jpg" alt="" />
                      <a class="project_link" href="page-project-details.html">View<br />Project</a>
                    </div>
                    <div class="project_content">
                      <div class="project_title_area">
                        <div class="project_category">
                          <ul>
                            <li><a href="https://html.webextheme.com/portivio/project.html">Hierarchy</a></li>
                            <li><a href="https://html.webextheme.com/portivio/project.html">Branding</a></li>
                          </ul>
                        </div>
                        <h4 class="title"><a href="page-project-details.html">E-commerce Excellence</a></h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Project Section End -->
        <!-- Testimonials Section Start -->
        <section class="bg-black pdt-120 pdb-110">
          <div class="section-content">
            <div class="container">
              <div class="row">
                <div class="col-xl-5 col-lg-8 mrb-lg-60">
                  <div class="section-title">
                    <div class="title-box anim-heading animation-style1">
                      <h5 class="sub-title">( TESTIMONIALS )</h5>
                      <h2 class="title wt-split-text anim-title">What Our Clients Say About Me</h2>
                    </div>
                  </div>
                  <div class="rating_image_01">
                    <img src="images/testimonials/clutch.png" alt="" />
                    <img src="images/testimonials/google-review.png" alt="" />
                  </div>
                </div>
                <div class="col"></div>
                <div class="col-xl-6">
                  <div class="testimonial_02_carousel swiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <div class="testimonial_02_item">
                          <div class="testimonial_content">
                            <p class="comments">
                              "The team provided exceptional financial guidance tailored to my needs.Their expert advice helped grow my investments while ensuring financial security for the future. I highly recommend their services for anyone seeking trusted, financial solutions!!"
                            </p>
                          </div>
                          <div class="testimonial_thumbnail">
                            <img class="img-full" src="images/testimonials/thumb1.jpg" alt="" />
                            <div class="testimonial-bottom-part">
                              <h4 class="testimonial-title">Arlene McCoy</h4>
                              <span class="testimonial-subtitle">Co. Founder</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="testimonial_02_item">
                          <div class="testimonial_content">
                            <p class="comments">
                              "The team provided exceptional financial guidance tailored to my needs.Their expert advice helped grow my investments while ensuring financial security for the future. I highly recommend their services for anyone seeking trusted, financial solutions!!"
                            </p>
                          </div>
                          <div class="testimonial_thumbnail">
                            <img class="img-full" src="images/testimonials/thumb2.jpg" alt="" />
                            <div class="testimonial-bottom-part">
                              <h4 class="testimonial-title">Maya White</h4>
                              <span class="testimonial-subtitle">Founder</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="testimonial_02_item">
                          <div class="testimonial_content">
                            <p class="comments">
                              "The team provided exceptional financial guidance tailored to my needs.Their expert advice helped grow my investments while ensuring financial security for the future. I highly recommend their services for anyone seeking trusted, financial solutions!!"
                            </p>
                          </div>
                          <div class="testimonial_thumbnail">
                            <img class="img-full" src="images/testimonials/thumb3.jpg" alt="" />
                            <div class="testimonial-bottom-part">
                              <h4 class="testimonial-title">Samuel Connolly</h4>
                              <span class="testimonial-subtitle">Admin</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="swiper-slide">
                        <div class="testimonial_02_item">
                          <div class="testimonial_content">
                            <p class="comments">
                              "The team provided exceptional financial guidance tailored to my needs.Their expert advice helped grow my investments while ensuring financial security for the future. I highly recommend their services for anyone seeking trusted, financial solutions!!"
                            </p>
                          </div>
                          <div class="testimonial_thumbnail">
                            <img class="img-full" src="images/testimonials/thumb1.jpg" alt="" />
                            <div class="testimonial-bottom-part">
                              <h4 class="testimonial-title">Arlene McCoy</h4>
                              <span class="testimonial-subtitle">Co. Founder</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Dots -->
                  <div class="testimonial_02_dots">
                    <div class="dot"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Testimonials Section End -->
        <!-- Footer Area Start -->
        <footer class="footer bg-cover bg-black pos-rel" data-background="images/bg/footer-blur-bg2.png">
          <div class="footer-main-area">
            <div class="container">
              <div class="row justify-content-between pdb-80">
                <div class="col-xl-9 col-lg-9 col-md-12 anim-heading animation-style1">
                  <h2 class="footer_big_text anim-title">Like What You See? Let’s Get Started!</h2>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 d-flex justify-content-center justify-content-lg-end">
                  <div class="xotech_btn_block circle_hover_btn">
                    <div class="circle_btn_item">
                      <a href="page-contact.html" class="circle-btn-style1">Hire Me <i class="circle-btn-arrow webexbase-icon-black-arrow-1"></i> <br />For Freelance </a>
                      <span class="circle_btn_dot"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12">
                  <div class="pdt-30 pdb-30 footer-border-top-bottom">
                    <div class="row">
                      <div class="col-xl-8 col-lg-8 col-md-8">
                        <ul class="h1_footer_01_social">
                          <li><a href="page-projects-style-02.html#">Facebook</a></li>
                          <li><a href="page-projects-style-02.html#">Instagram</a></li>
                          <li><a href="page-projects-style-02.html#">Behance</a></li>
                          <li><a href="page-projects-style-02.html#">Dribble</a></li>
                        </ul>
                      </div>
                      <div class="col-xl-4 col-lg-4 col-md-4 text-center text-md-end"><span>Info@gmail.com</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pdt-30 pdb-30 footer-copyright-area">
                <div class="col"></div>
                <div class="col-xl-6 col-lg-6">
                  <div class="text-center">
                    <span>Copyright by <strong>WebexTheme</strong> © 2025. All rights reserved </span>
                  </div>
                </div>
                <div class="col"></div>
              </div>
            </div>
          </div>
          <img class="h1_footer_oval_shape" src="images/footer/oval.png" alt="" />
        </footer>
        <!-- Footer Area End -->
      </div>
    </div>
    <!-- Mobile Nav Sidebar Content Start -->
    <div class="mobile-nav-wrapper">
      <div class="mobile-nav-overlay mobile-nav-toggler"></div>
      <div class="mobile-nav-content">
        <a href="page-projects-style-02.html#" class="mobile-nav-close mobile-nav-toggler">
          <span></span>
          <span></span>
        </a>
        <div class="side-panel-logo logo-box">
          <a href="https://html.webextheme.com/portivio/index-2.html" aria-label="logo image">
            <img src="images/logo-light.png" alt="logo" />
          </a>
        </div>
        <div class="mobile-nav-container"></div>
        <ul class="list-items mobile-sidebar-contact">
          <li><span class="fa fa-map-marker-alt mrr-10 text-primary-color"></span>121 King Street, Australia</li>
          <li><span class="fas fa-envelope mrr-10 text-primary-color"></span><a href="mailto:example@gmail.com">example@gmail.com</a></li>
          <li><span class="fas fa-phone-alt mrr-10 text-primary-color"></span><a href="tel:123456789">+12 345 666 789</a></li>
        </ul>
        <ul class="social-list list-primary-color">
          <li>
            <a href="page-projects-style-02.html#"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="page-projects-style-02.html#"><i class="webexbase-icon-twitter-2"></i></a>
          </li>
          <li>
            <a href="page-projects-style-02.html#"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="page-projects-style-02.html#"><i class="webexbase-icon-linkedin2"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Mobile Nav Sidebar Content End -->
    <!-- Header Search Popup Start -->
    <div class="search-popup">
      <div class="search-popup-overlay search-toggler"></div>
      <div class="search-popup-content">
        <form action="page-projects-style-02.html#">
          <label for="search" class="sr-only">search here</label>
          <input type="text" id="search" placeholder="Search Here..." />
          <button type="submit" aria-label="search submit" class="thm-btn">
            <i class="base-icon-search-1"></i>
          </button>
        </form>
      </div>
    </div>
    <!-- Header Search Popup End -->
    <!-- Back to Top Start -->
    <div class="anim-scroll-to-top">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>
    <!-- Back to Top end -->
    <!-- Integrated important scripts here -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.appear.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <!-- Counter Up Animation Start -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Counter Up Animation End -->
    <script src="js/jquery.event.move.js"></script>
    <!-- Gsap Animation Start -->
    <script src="js/gsap-plugins.js"></script>
    <script src="js/gsap-trigger.js"></script>
    <script src="js/title-animations.js"></script>
    <!-- Gsap Animation End -->
    <!-- Parallax Start -->
    <script src="js/ukiyo.min.js"></script>
    <!-- Parallax Start -->
    <!-- Image Distortion Effect Start -->
    <script src="js/three.js"></script>
    <script src="js/hover-effect.umd.js"></script>
    <!-- Image Distortion Effect End -->
    <script src="js/tilt.jquery.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/backtotop.js"></script>
    <script src="js/trigger.js"></script>
  </body>
</html>
